
<div *ngIf="opem" class="modal-form" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="width: 300%">
        <div class="modal-header" style="background: gray;">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="fechar()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="color: black; font-size: 15px;">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <th>
                                Tipo
                            </th>
                            <th>
                                Data
                            </th>
                            <th>
                                Valor
                            </th>
                            <th>
                                CPF
                            </th>
                            <th>
                                Cartão
                            </th>
                            <th>
                                Hora
                            </th>
                            <th>
                                Dono da loja
                            </th>
                            <th>
                                Nome loja
                            </th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of data">
                                <td>
                                   {{tipo(item.tipo)}}
                                </td>
                                <td>
                                    {{item.data | date}}
                                </td>
                                <td>
                                    {{item.valor | currency}}
                                </td>
                                <td>
                                    {{cpf(item.cpf)}}
                                </td>
                                <td>
                                    {{item.cartao}}
                                </td>
                                <td>
                                    {{item.hora}}
                                </td>
                                <td>
                                    {{item.donoLoja}}
                                </td>
                                <td>
                                    {{item.nomeLoja}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>