<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="float-right">
                        <button class="btn btn-primary" routerLink="../create"> Create
                        </button>
                    </div>
                    <h5 class="title">List</h5>
                </div>
                <div class="card-body" *ngIf="data.length">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>
                                    Name
                                </th>
                                <th>
                                    Average
                                </th>
                                <th>
                                    Course
                                </th>
                                <th>
                                    Teacher
                                </th>
                                <th>
                                    Status
                                </th>
                                <th></th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of data">
                                    <td>
                                       {{item.name}}
                                    </td>
                                    <td>
                                        {{item.average}}
                                    </td>
                                    <td>
                                        {{item.nameCourse}}
                                    </td>
                                    <td>
                                        {{item.nameTeacher}}
                                    </td>
                                    <td>
                                        {{item.status ? 'active' : 'disabled'}}
                                    </td>
                                    <td>
                                        <button class="btn btn-cornflowerblue" routerLink="../edit/{{item.id}}"><i class="now-ui-icons ui-1_settings-gear-63"></i> Edit</button>
                                        <button class="btn btn-secondary margin" routerLink="../detail/{{item.id}}"><i class="now-ui-icons ui-1_zoom-bold"></i> Detail</button>
                                        <button type="button" class="btn btn-danger" (click)="opemModal = true; idItemDelete = item.id"><i class="now-ui-icons ui-1_simple-remove"></i> Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <label *ngIf="!data.length">no records...</label>
            </div>
        </div>
    </div>
</div>
<app-modal [opem]="opemModal" (cancel)="opemModal = false" (confirm)="deleteItem()"></app-modal>